body {
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #4d4d4d;
}
.message {
  width: 100%;
  height: 5%;
  background-color: #5d5d5d;
  color: white;
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  border-left: 5px;
  border-left-style: solid;
  border-left-color: #ff6600;
  border-right: 5px;
  border-right-style: solid;
  border-right-color: #ff6600;
  display: none;
}
