.type {
  display: flex;
  flex-basis: 20%;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #333333;
  height: 100%;
  width: 10%;
  color: white;
  font-size: 2vw;
  border-right: 5px;
  border-style: none solid none none;
  border-right-color: #4d4d4d;
}
