.valueIO {
  display: flex;
  flex-basis: 80%;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #333333;
  height: 100%;
  color: white;
  font-size: 2vw;
}
